# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyA-DWmgGptgGIi6NiMj_bM0cjtRI2xL0Us
VITE_FIREBASE_AUTH_DOMAIN=kalpak-insulation.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kalpak-insulation
VITE_FIREBASE_STORAGE_BUCKET=kalpak-insulation.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=614268412240
VITE_FIREBASE_APP_ID=1:614268412240:web:5e6d9f81d4504ff3e20c55
VITE_FIREBASE_MEASUREMENT_ID=G-MYT2RED4QS

# EmailJS & Contact Form Services
VITE_EMAILJS_SERVICE_ID=service_kby4qxt
VITE_EMAILJS_TEMPLATE_ID=template_zyexre3
VITE_EMAILJS_PUBLIC_KEY=BNdzUFn5tWGrFMXPJ
VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/xblyojgz
